body {
  padding: 50px;
}
a {
  color: #00b7ff;
}
img {
  width: 60%;
}
.borderMe {
  border: 2px solid #000;
}
.card-class {
  height: 300px;
  display: inline-block;
  margin: 20px 20px;
}
.card-class img {
  margin: 0 20px;
}
.blue-card-design {
  border-radius: 4px;
  background-color: #add8e6;
}
